/*.container {*/
/*    max-width: 36rem;*/
/*    padding: 1rem;*/
/*    margin: 3rem auto 6rem;*/
/*    background: #0070f3;*/
/*    text-align: center;*/
/*}*/

/*more polished CSS code*/
.container {
    max-width: 36rem;
    padding: 2rem;
    margin: 3rem auto 6rem;
    background: rgba(255, 255, 255, 0.17);
    border-radius: 1rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #eaeaea;
}

.backToHome {
    margin: 3rem 0 0;
}

.login{
    padding: 8px;
    border-radius: 10px;
    width: 80px;
    text-align: center;
    border: 1px solid #ffffff;
    margin: 8px;
}
.loginText{
    color: #666666;
}

.login:hover{
    color: #0070f3;
    border-color: #0070f3;
    cursor: pointer;
}
.loginText:hover{
    color: #0070f3;
    cursor: pointer;
}