.loginButton{
    margin: 1rem;
    padding: 0.5rem;
    text-align: left;
    color: #696969;
    background: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 100px;
}

.loginButton:hover{
    color: #0070f3;
    border-color: #0070f3;
}

.inputBox {
    margin: 0.5rem;
    padding: 0.5rem;
    background: #ffffff;
    border: none;
    border-radius: 10px;
    text-decoration: none;
}